{% extends "bank/base.html" %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2>Send Money</h2>
      <p>Available: ${{ account.balance }}</p>
      <form method="post" action="{% url 'send' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="amount">Amount:</label>
          <input type="number" step="0.01" min="0.01" class="form-control" id="amount" name="amount" required>
        </div>
        <div class="form-group">
          <label for="account_number">Receiver's Account Number:</label>
          <input type="text" class="form-control" id="account_number" name="account_number">
        </div>
        <div class="form-group">
          <label for="routing_number">Receiver's Routing Number:</label>
          <input type="text" class="form-control" id="routing_number" name="routing_number">
        </div>
        <button type="submit" class="btn btn-primary2 mt-2">Send</button>
      </form>
    </div>
  </div>
</div>

{% endif %}

{% endblock content %}